.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #e0e0e0;
  padding: 20px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: auto;
  border: 1px solid black;
}

th, td {
  padding: 10px;
  border: 1px solid black ;
}

thead th {
  background-color: #0000FF;
  color: white;
}

.delete-button {
  background-color: #FF0000;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.add-button {
  background-color: #00FF00;
  color: white;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-controls button {
  background-color: #00FF00;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.quantity-controls span {
  width: 30px;
  text-align: center;
}
